@model IEnumerable<AscProva.Modelo.Alunos>

<div class="modal-header">

    <h5 class="modal-title">@Html.LabelFor(model => model.Nome)</h5>

    <button type="button" class="close" data-dismiss="modal" style="outline: 0;">
        <span>&times;</span>
    </button>

</div>
<div class="modal-body">

    <div class="row">
        <div class="col-6">

            <input type="hidden" value="@ViewBag.MediaUltimo" id="MediaUltimo">

            @Html.HiddenFor(model => model.Media, new { htmlAttributes = new { @id = "Media" } })
            @Html.HiddenFor(model => model.MediaEspecial, new { htmlAttributes = new { @id = "MediaEspecial" } })

            @Html.EditorFor(model => model.ProvaUm, new { htmlAttributes = new { @class = "form-control my-1", id = "InputP1", placeholder = "Nota prova 1", data_toggle = "tooltip", title = "Primeira prova" } })

            @Html.EditorFor(model => model.ProvaDois, new { htmlAttributes = new { @class = "form-control my-1", id = "InputP2", placeholder = "Nota prova 1", data_toggle = "tooltip", title = "Segunda prova" } })

            @Html.EditorFor(model => model.ProvaTres, new { htmlAttributes = new { @class = "form-control my-1", id = "InputP3", placeholder = "Nota prova 1", data_toggle = "tooltip", title = "Terceira prova" } })

            @Html.EditorFor(model => model.ProvaFinal, new { htmlAttributes = new { @class = "form-control my-1", id = "InputPf", placeholder = "Nota prova 1", data_toggle = "tooltip", title = "Prova final" } })

            @Html.EditorFor(model => model.ProvaEspecial, new { htmlAttributes = new { @class = "form-control my-1", id = "InputPe", placeholder = "Nota prova 1", data_toggle = "tooltip", title = "Prova especial" } })

        </div>
        <div class="col-6">
            <div class="content text-center cs_09 cs_09_AprovadoEntreMelhores"
                 id="ElementoCorFundoStatusAprovacao">

                <div class="content cs_08 cs_08_Maior">
                    <div class="cs_12">

                        <h1 class=" text-white" id="ElementoMedia">
                            </h2>
                            <h5 class=" text-white"></h5>

                    </div>
                </div>

                <div class="content cs_08 cs_08_Menor">
                    <h4 class="display-5 text-white" style="margin: 0 auto"
                        id="ElementoStatusAprovacao">
                    </h4>
                </div>

            </div>
        </div>
    </div>

</div>



