@model IEnumerable<AscProva.Modelo.Alunos>


<table class="table">


    @foreach (var item in Model)
    {
        
        <div class="container cs_05 my-2 cs_07">

            <div class="row">
                <div class="col-12 col-md-2">
                    @Html.DisplayFor(modelItem => item.Nome)
                </div>

                @if (item.MediaEspecial != 0)
                {
                    <div class="col-12 col-md-1 text-center">
                        @Html.DisplayFor(modelItem => item.MediaEspecial)
                    </div>
                }
                else
                {
                    <div class="col-12 col-md-1 text-center">
                        @Html.DisplayFor(modelItem => item.Media)
                    </div>
                }

                <div class="col-12 col-md-1">
                    @Html.DisplayFor(modelItem => item.Turma)
                </div>
                <div class="col-12 col-md-1 text-center cs_06">

                    @switch (item.Media)
                    {
                        case var n when item.Media < 4:

                            <div class="col-12 col-md-1 text-center cs_06 cs_09_Reprovado">
                                Reprovado
                            </div>

                            break;
                        case var n when item.Media > 6:


                            <div class="col-12 col-md-1 text-center cs_06 cs_09_Aprovado">
                                Aprovado
                            </div>

                            break;
                        default:


                            <div class="col-12 col-md-1 text-center cs_06 cs_09_Recuperacao">
                                Recuperação
                            </div>

                            break;
                    }


                </div>
                <div class="col-12 col-md-1 text-center">
                    @Html.DisplayFor(modelItem => item.ProvaUm)
                </div>
                <div class="col-12 col-md-1 text-center">
                    @Html.DisplayFor(modelItem => item.ProvaDois)
                </div>
                <div class="col-12 col-md-1 text-center">
                    @Html.DisplayFor(modelItem => item.ProvaTres)
                </div>
                <div class="col-12 col-md-1 text-center">
                    @Html.DisplayFor(modelItem => item.ProvaFinal)
                </div>
                <div class="col-12 col-md-1 text-center">
                    @Html.DisplayFor(modelItem => item.ProvaEspecial)
                </div>
                <div class="col-1">

                    <div class="row">
                        <div class="col-5">

                            @Html.ActionLink("<i class='fas fa-edit' style='color: black;'></i>", "Editar", new { id = item.Id }, new { @datatoggle = "text-danger", @title="Editar notas" }) 
                                                        
                        </div>
                        <div class="col-7">

                            @Html.ActionLink("<i class='fas fa-user-minus' style='color: black;'></i>", "Editar", new { id = item.Id }, new { @datatoggle = "text-danger", @title = "Excluir aluno" }) 

                        </div>
                    </div>


                </div>

            </div>

        </div>

    }

</table>
