@model IEnumerable<AscProva.Modelo.Alunos>

<div id="DivListaAlunos">

    <table class="table">

        @for (int i = 0; i < Model.Count(); ++i) { 
               
            <div class="container cs_05 my-2 cs_07">
                
                <div class="row">

                    <div class="col-12 col-md-1" style="text-align:center;">
                        @(i+1) º
                    </div>

                    <div class="col-12 col-md-2">
                        @Html.DisplayFor(modelItem => Model.ElementAt(i).Nome)
                    </div>



                    @if (Model.ElementAt(i).MediaEspecial != 0 && i < 5)
                    {
                        <div class="col-12 col-md-1 text-center">
                            @Html.DisplayFor(modelItem => Model.ElementAt(i).MediaEspecial)
                        </div>
                    }
                    else
                    {
                        <div class="col-12 col-md-1 text-center">
                            @Html.DisplayFor(modelItem => Model.ElementAt(i).Media)
                        </div>
                    }



                    <div class="col-12 col-md-1">
                        @Html.DisplayFor(modelItem => Model.ElementAt(i).Turma)
                    </div>


                    @switch (Model.ElementAt(i).Media)
                    {
                        case var n when Model.ElementAt(i).Media < 4:

                            <div class="col-12 col-md-1 text-center cs_06 cs_09_Reprovado">
                                Reprovado
                            </div>

                            break;
                        case var n when Model.ElementAt(i).Media > 6:

                            if (i < 5)
                            {
                                <div class="col-12 col-md-1 text-center cs_06 cs_09_AprovadoEntreMelhores" title="Aprovado entre os melhores" data-toggle="tooltip">
                                    Aprovado
                                </div>
                            }
                            else
                            {
                                <div class="col-12 col-md-1 text-center cs_06 cs_09_Aprovado">
                                    Aprovado
                                </div>
                            }

                            break;
                        default:


                            if (Model.ElementAt(i).ProvaFinal != 0)
                            {

                                if (Model.ElementAt(i).ProvaFinal > 5)
                                {
                                    <div class="col-12 col-md-1 text-center cs_06 cs_09_Aprovado">
                                        Aprovado
                                    </div>
                                }
                                else
                                {
                                    <div class="col-12 col-md-1 text-center cs_06 cs_09_Reprovado">
                                        Reprovado
                                    </div>
                                }

                            }
                            else
                            {
                                <div class="col-12 col-md-1 text-center cs_06 cs_09_Recuperacao">
                                    Recuperação
                                </div>

                            }



                            break;
                    }


                    <div class="col-12 col-md-1 text-center">
                        @Html.DisplayFor(modelItem => Model.ElementAt(i).ProvaUm)
                    </div>
                    <div class="col-12 col-md-1 text-center">
                        @Html.DisplayFor(modelItem => Model.ElementAt(i).ProvaDois)
                    </div>
                    <div class="col-12 col-md-1 text-center">
                        @Html.DisplayFor(modelItem => Model.ElementAt(i).ProvaTres)
                    </div>
                    <div class="col-12 col-md-1 text-center">
                        @Html.DisplayFor(modelItem => Model.ElementAt(i).ProvaFinal)
                    </div>
                    <div class="col-12 col-md-1 text-center">
                        @Html.DisplayFor(modelItem => Model.ElementAt(i).ProvaEspecial)
                    </div>
                    <div class="col-1">

                        <div class="row">
                            <div class="col-5">


                                <span data-toggle="tooltip" title="Editar notas">

                                    @Ajax.ActionLink("`", "PreencheEdicao", "Aluno", new { Id = Model.ElementAt(i).Id }, new AjaxOptions() { HttpMethod = "Get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "DivEdicao" }, new { @Class = "fas fa-edit", style = "color: black; text-decoration:none;" })

                                </span>




                            </div>
                            <div class="col-7">

                                <span data-toggle="tooltip" title="Excluir aluno">
                                    <a href="#" data-toggle="modal" data-target="#ModalExclusao" onmouseover="AlteraIdExclusao(@Model.ElementAt(i).Id)">
                                        <i class="fas fa-user-minus" style="color: black;"></i>
                                    </a>
                                </span>

                            </div>
                        </div>


                    </div>

                </div>

            </div>

        }

    </table>


    <script>

        @ViewBag.Javascript

        function AlteraIdExclusao(Id) {
            $("#IdExclusao").val(Id);
        }
        
        function FechaExclusao() {
            document.getElementById("BotaoFechaExclusao").click();
        }
        
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        })

    </script>

</div>

